node_modules
*.log*
.nuxt
.nitro
.cache
.output
dist
.DS_Store

bin

.vs
debug

__blobstorage__
__queuestorage__
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__azurite_db_table__.json
