

.logo svg {
    left: calc(50% - 200px);
    position: absolute;
}

.logo:hover #leftside {
    animation: bulidcar-cas 2s ease-in-out;
    animation-fill-mode: forwards; 
    fill: aquamarine;
    
    
}
.logo:hover #leftside path {
    animation: bulidcar-cas-cp 2s ease-in-out;
    animation-fill-mode: forwards; 
     
}

.logo:hover #upperDot {
    animation: bulidcar-rightwheel 2s ease-in-out;
    animation-fill-mode: forwards; 
    fill: rgb(255, 204, 127);
    
}
.logo:hover #lowerDot {
    animation: bulidcar-lefttwheel 2s ease-in-out;
    animation-fill-mode: forwards; 
    fill: rgb(155, 127, 255);
}
.logo:hover #d-curve {
    fill: rgb(255, 127, 238);
    animation: roof 2s ease-in-out;
    animation-fill-mode: forwards; 
}
.logo:hover #d-curve path{
    animation: roof-cp 2s ease-in-out;
    animation-fill-mode: forwards; 
}
.logo:hover #d-shadow {
    animation: bulidcar-bwall 2s ease-in-out;
    animation-fill-mode: forwards;   
    fill: rgb(53, 71, 43);
}
.logo:hover #d-shadow path{
    animation: bulidcar-bwall-cp 2s ease-in-out;
    animation-fill-mode: forwards;  
}
.logo:hover #d-curve-shadow {
    animation: underliner 2s ease-in-out;
    animation-fill-mode: forwards;  
    fill: rgb(69, 43, 71);
}
.logo:hover #d-curve-shadow path{
    animation: underliner-cp 2s ease-in-out;
    animation-fill-mode: forwards;  
}

@keyframes bulidcar-cas {
   
    15%{
        transform: rotate(90deg);
        fill: rgb(112, 29, 29);
    }
    35%{
        transform: translateY(80%) rotate(90deg);
        fill: black;
    }
    100%{
        transform: translateY(80%) rotate(90deg);
    }
}
@keyframes bulidcar-cas-cp {
    30%{
        d: path("M 50 1000 L 50 0 L 150 50 L 150 150 L 250 250 L 250 750 L 150 900 L 150 950 Z");
    }
    100%{
        d: path("M 50 1000 L 50 0 L 150 50 L 150 150 L 250 250 L 250 750 L 150 900 L 150 950 Z");
    }
}

@keyframes bulidcar-rightwheel {
    10% {
        transform: translateX(67.5%);
    }
    30% {
        transform: translateY(70%) translateX(50%);
        fill: rgb(112, 29, 29);
    }
    30% {
        transform: scale(2) translateY(70%) translateX(50%);
    }
    100% {
        transform: scale(2) translateY(70%) translateX(50%);
        fill: black;
        transition: 5s ease-out;  
    }
}

@keyframes bulidcar-lefttwheel{
    10% {
        transform: translateX(-15%);
    }
    30% {
        transform: scale(2) translateY(-15%) translateX(5%);
    }
    100% {
        transform: scale(2) translateY(-15%) translateX(5%);
        fill: black;
    }
}

@keyframes  bulidcar-bwall{
    30% {
        transform: translateX(0%);
    }
    40% {
        transform: translateX(15%);
    }
    45% {
        transform: translateY(0%) translateX(15%);
    }
    100% {
        transform: translateY(0%) translateX(15%);
        fill: black;
    }
}
@keyframes  bulidcar-bwall-cp{
    0%{
        d: path("M 300 200 L 400 200 L 400 800 L 300 800 Z");
    }
    30%{
        d: path("M 300 200 L 400 200 L 400 800 L 300 800 Z");
    }
    40%{
        d: path("M 300 600 L 400 600 L 400 800 L 300 800 Z");
    }
    100%{
        d: path("M 300 600 L 400 600 L 400 800 L 300 800 Z");
    }
}

@keyframes  roof{
    10% {
        transform: rotate(-90deg) translateY(2.5%) translateX(20%);
    }
    50% {
        transform: rotate(-90deg) translateY(2.5%) translateX(20%);
    }
    70% {
        transform: rotate(-90deg) translateY(2.5%) translateX(-20%);
        fill: black;
    }
    100% {
        transform: rotate(-90deg) translateY(2.5%) translateX(-20%);
        fill: black;
    }
}
@keyframes  roof-cp{
    
    50%{
        d: path("M 300 50 L 700 50 L 850 200 L 850 800 L 700 950 L 300 950 L 300 850 L 650 850 L 750 750 L 750 250 L 650 150 L 300 150 Z");
    }
    70%{
        d: path("M 400 50 L 600 50 L 750 200 L 750 800 L 600 950 L 400 950 L 400 850 L 550 850 L 650 750 L 650 250 L 550 150 L 400 150 Z");
    }
    100%{
        d: path("M 400 50 L 600 50 L 750 200 L 750 800 L 600 950 L 400 950 L 400 850 L 550 850 L 650 750 L 650 250 L 550 150 L 400 150 Z");
    }
}
@keyframes  underliner{
    10% {
        transform: translateY(-30%) translateX(10%);
    }
    60% {
        transform: translateY(-30%) translateX(10%);
    }
    80% {
        transform: rotate(45deg) translateY(35%) translateX(-75%);
        fill: black;
    }
    100% {
        transform: rotate(45deg) translateY(35%) translateX(-75%);
        fill: black;
    }
}
@keyframes  underliner-cp{
    70%{
        d: path("M 750 50 L 900 50 L 1000 150 L 1000 850 L 900 950 L 750 950 L 900 800 L 900 200 Z");
    }
    90%{
        d: path("M 850 50 L 950 50 L 1000 150 L 1000 650 L 950 750 L 850 750 L 900 600 L 900 200 Z");
    }
    100%{
        d: path("M 850 50 L 950 50 L 1000 150 L 1000 650 L 950 750 L 850 750 L 900 600 L 900 200 Z");
    }
}
