.header {
    position: relative;
    padding: 10px;
    height: 100px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top:10px;
    padding-bottom: 10px;

    color: rgb(230, 230, 230);
    background-color: var(--akzentcolor);
}

.header-area {
    margin-left: 75px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#header-login {
    margin-left: 10px;
}

#nav-header {
    position: sticky;
    z-index: 10;

    top: 0;
    width: auto;

    flex-direction: row;
    display: flex;
    justify-content: center;

    border-radius: 0px 0px 10px 10px;
    background: rgba(119, 136, 153, 0.75);
    backdrop-filter: blur(10px);

    transition: 0.5s ease-in-out;
}

#nav-header button {
    border-radius: var(--borderradius);
    background-color: rgba(0,0,0,0);
    border: none;
    color: rgb(63, 61, 61);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;

    font-size: 1.5rem;
}
#nav-header button:hover{
    box-shadow: var(--shadow);
    color: rgb(36, 38, 61);
}

.logo {
    position: relative;
    width: inherit;
}

#tile-wrapper {
    margin: 0;
}
.header-area p{
    margin: 0;
}

.header-icon{
    position: absolute;
    left: -75px;
    width: 50px;
}


.logo:hover {
    stroke-dasharray: 1000;
    animation: dashdraw 2s ease-in-out infinite;
}

 @keyframes dashdraw {
    to {stroke-dashoffset: 2000}
 }