

#login {
    position: absolute;
    display: grid;

    transform: rotateY(90deg);
    width: 500px;
    right: -100px;
    margin-right: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    height: auto;
    background-color: rgba(248, 248, 245, 0.8);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    z-index: 20;

    transition: 0.5s ease-in-out;
    transition-delay:  0.25s;
}
#login.show {
    right: 0;
    transform: rotateY(0deg);
}

.login-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:  calc(100% - 20px);
    margin: 10px;
}


#login input{
    height: 20px;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.login-btn-hander {
    height: 27px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    width: calc(100% - 20px);
    margin: 5px;
}

#feedback {
    position: absolute;
    display: flex;
    justify-content: center;

    margin: 0px auto;
    left: 5px;
    bottom: 10px;
    height: 20px;
    width: calc(100% - 10px);

    z-index: -5;
    
    border-radius: 10px;
    opacity: 1;
    transition: 0.5s ease-in-out;
}

#feedback.messagetrue, #feedback.messagefalse {
    box-shadow: var(--shadow);
    opacity: 1;
    bottom: -25px;
}
#feedback.messagefalse {
    background-color: rgb(156, 85, 85);
}
#feedback.messagetrue {
    background-color: rgb(85, 156, 103);
}

@media only screen and (max-width: 500px) {
    #login {
        width: 100%;
    }
  }