
html{
    background:  linear-gradient(135deg, #8ca3f0 0%, #333f61 80%, #515d80 100%);
    background-repeat: no-repeat;
    height: inherit;
}
body {
    position: relative;
}

#title {
    align-items: center;
    text-align: center;
    margin-top: 450px;
}

.login {
    position: absolute;
    right: 100px;
    top: 50px;
}

.footer {
    margin: 50px;
    display: flex;
    justify-content: center;
}

.footer div{
    background-color: lemonchiffon;
    padding: 20px;
    border-radius: var(--borderradius);
}

.content {
    position: relative;
    margin: 50px;
    display: flex;
    flex-direction: column;
}

#addContentBtn {
    position: absolute;
    background:  linear-gradient(135deg, #9ac59e 0%, #457e4e 100%);
    top: -70px;
    right: 25px;
    width: 100px;
    height: 100px;
    border-radius: var(--borderradius);
}


.dynacontent{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 20px;
    background-color: cornsilk;
    border-radius: var(--borderradius);
    box-shadow: var(--shadow);
    animation: 1s ease-out 0s 1 contentLoadAnimation;
    transition: 0.3s ease-in-out;
}
.dynacontent img {
    width: 75%;
    border-radius: var(--borderradius);
    align-self: center;
}
.dynacontent p {
    display: inline;
}

.test {  
    padding: 20px;
}


.getvis {
    display: none;
}

.remove {
    position: absolute;
    right: 25px;
    top: 25px;
}
.remove button{
    height: 30px;
    border-radius: var(--borderradius);
    background: linear-gradient(135deg, #ad4e62 0%, #e9445a 100%);
}

.editBTNs {
    width: 100px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.content-add {
    display: inline-block;
    z-index: 15;
    width: 90%;
    left: calc(50% - 45%);
    visibility: hidden;
    position: absolute;
    background: linear-gradient(155deg, #eeebeb9b 0%rgba(128, 124, 124, 0.808)5a 100%);
    border-radius: var(--borderradius);
    border: 5px solid rgba(7, 7, 7, 0.507);
    backdrop-filter:blur(20px) ;
    top: 1000px;
    opacity: 0;
    transition: 1s ease-in-out;
}
.content-add.setv {
    top: 20px;
    visibility: visible;
    opacity: 1;
    height: inherit;
}
.content-add-input {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    width: inherit;
    margin: 20px;
    height: inherit;

}
#addContentIMG{
    display: flex;
    flex-direction: row;
}

.saveBTN {
    height: 75px;
    margin: 5%;
    border-radius: var(--borderradius);
}

 .add-content-ta {
    border-radius: var(--borderradius);
    resize: vertical;
 }

 #IMGpreviewSPV {
    border-radius: var(--borderradius);
    width: 100%;
 }

.dynacontent:hover {
    background-color: rgb(240, 226, 173);
}

.dynacontent.fadetoleft {
    animation: 0.5s ease-out 0s 1 swipetoright;
}

#maincontent {
    background: #333f61;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
}

 @keyframes contentLoadAnimation {
    0% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

@keyframes swipetoright {
    0% {
        transform: translateX(0px)
    }
    100% {
        transform: translateX(-150%)
    }
}