
body {
    background-color: lightseagreen;
    position: relative;
}

#title {
    align-items: center;
    text-align: center;
    margin-top: 450px;
}

.login {
    position: absolute;
    right: 100px;
    top: 50px;
}

.header {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top:100px;
    padding-bottom: 100px;
    background-color: rgb(221, 238, 238);
}
.nav-bar {
    top: 0px;
    display: flex;
    justify-content: center;
    z-index: 10;
}

#nav-header {
    flex-direction: row;
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 5px 5px 15px 5px #000000;
}

#nav-header button {
    border: none;
    background-color: rgba(250, 235, 215, 0);
    padding: 20px;
    font-size: 2rem;
}

.footer {
    margin: 50px;
    display: flex;
    justify-content: center;
}

.footer div{
    background-color: lemonchiffon;
    padding: 50px;
}

.content {
    position: relative;
    margin: 50px;
    background-color: khaki;
    display: flex;
    flex-direction: column;
}

#addContentBtn {
    position: absolute;
    top: -70px;
    right: 25px;
    width: 100px;
    height: 100px;
}


.dynacontent{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 20px;
    background-color: cornsilk;
}
.dynacontent img {
    width: 300px;
}

.test {  
    padding: 20px;
}


.getvis {
    display: none;
}

#nav-header button {
    background-color: aqua;
}

.editable {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    background-color: blueviolet;
    font-size: 10px;
}

.editable:hover .dropdown{
    background-color: #b18080;
    position: absolute;
    display: block;
}

.remove {
    display: none;
}

.editable:hover .remove {
    display: block;
}

.editBTNs {
    width: 100px;
    height: 20px;
}

.content-add {
    visibility: hidden;
    position: absolute;
}

.dynacontent img{
    align-self: center;
}

.content-add.setv {
    display: inline-block;
    visibility: visible;
    z-index: 15;
    top: 20px;
    height: inherit;
    width: 90%;
    left: calc(50% - 45%);
    background-color: rgba(119, 104, 104, 0.733);
    backdrop-filter: blur(25px);
}
.content-add-input {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: burlywood;
    width: initial;
    margin: 20px
}
#addContentIMG{
    display: flex;
    flex-direction: row;
}

#IMGpreview {
    height: inherit;
}


.saveBTN {
    width: 250px;
    height:20%;
    margin: 10%;
}

textarea { 
    /* will prevent resizing horizontally */
    resize:vertical;
 }