
body {
    background-color: lightseagreen;
    position: relative;
}

#title {
    align-items: center;
    text-align: center;
    margin-top: 450px;
}

.login {
    position: absolute;
    right: 100px;
    top: 50px;
}

.header {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top:100px;
    padding-bottom: 100px;
    background-color: lightcyan;
}
.nav-bar {
    display: flex;
    justify-content: center;
}

#nav-header {
    flex-direction: row;
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 5px 5px 15px 5px #000000;
}

#nav-header button {
    border: none;
    background-color: rgba(250, 235, 215, 0);
    padding: 20px;
    font-size: 2rem;
}

.footer {
    margin: 50px;
    display: flex;
    justify-content: center;
}

.footer div{
    background-color: lemonchiffon;
    padding: 50px;
}

.content {
    position: relative;
    margin: 50px;
    background-color: khaki;
    display: flex;
    flex-direction: column;
}
.add-content, .chosesubnav {
    align-self: flex-end;
    margin-right: 100px;
    align-content: flex-end;
    display: inline-block;
}


.dropdown, .selectsubnav {
    z-index: 5;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}
  
  .add-content:hover .dropdown {
    background-color: #b18080;
      position: absolute;
    display: block;
}

  .chosesubnav:hover .selectsubnav {
    background-color: #b9dfb9;
    display: block;
}


.dynacontent{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 20px;
    background-color: cornsilk;
}

.test {  
    padding: 20px;
}


.getvis {
    display: none;
}

#nav-header button {
    background-color: aqua;
}

.editable {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    background-color: blueviolet;
    font-size: 10px;
}

.editable:hover .dropdown{
    background-color: #b18080;
    position: absolute;
    display: block;
}

.remove {
    display: none;
}

.editable:hover .remove {
    display: block;
}

.editBTNs {
    width: 100px;
    height: 20px;
}