
#static-home {
    display: none;
    background-color: rgb(141, 146, 135);
    border-radius: var(--borderradius);
    box-shadow: var(--shadow);
}

.static-content {
    position: relative;
}

#static-home.show,  #static-contact.show{
    display: flex;
    flex-direction: column;
}

#static-contact {
    display: none;
    background-color: rgb(161, 135, 185);
}

#show-news-preview, #show-trade-preview{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background: linear-gradient(90deg, rgba(241, 241, 241, 0.4)60%, rgba(66, 66, 66, 0.8)100%);
    width: 100%;
    height: auto;
}

.static-field {
    position: relative;
    margin: 20px;
    border-radius: var(--borderradius);
    box-shadow: var(--shadow);
}


.static-field::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
   
    border-radius: var(--borderradius);
    box-shadow: var(--shadow);

    transition: 0.3s ease-in-out;
    font-size: 3rem;
}

.static-field:hover::before {
    content: 'Watch newest News new';
    background-color: rgba(224, 224, 224, 0.5);
    backdrop-filter: blur(10px);
}


.news-pre-view {
    text-align: center;
    padding: 10px;
    margin: 15px;
    border-radius: var(--borderradius);
    box-shadow: var(--shadow);
    max-width: 33%;
    min-width: 250px;
}
.news-pre-view img{
   width: 80%;
}