
#static-home {
    display: none;
    background-color: rgb(141, 146, 135);
}

#static-home.show,  #static-contact.show{
    display: flex;
    flex-direction: column;
}

#static-contact {
    display: none;
    background-color: rgb(161, 135, 185);
}

#show-news-preview{
    display: flex;
    flex-direction: row;
    justify-content: space-around;


    background: linear-gradient(90deg, rgba(241, 241, 241, 0.4)60%, rgba(0,0,0, 0.8)100%);
    width: 100%;
    height: auto;
}

.static-field {
    margin: 20px;
    border-radius: var(--borderradius);
    box-shadow: var(--shadow);
}

.news-pre-view {
    text-align: center;
    padding: 10px;
    margin: 15px;
    border-radius: var(--borderradius);
    box-shadow: var(--shadow);
}
.news-pre-view img{
   width: 80%;
}