$company_blue: #121F3A;
$image-shadow: 0.2rem 0.2rem 0.8rem 0px #5e5e5e79;
$akzent_blue: #0e317c;

$light-font-color: #ebecf0;
$dark-font-color: #181818;

$light-background-color: #ffffff;
$dark-background-color: #181818;

$icon_base_grey: #d1d1d1;
$icon_active_grey: #474747;

$header_hight: 75px;
$mobile_threshold: 450px;
$max_content_width: 1500px;

$border-radius: .5rem;

@mixin theme-based-background-and-text() {
	@media (prefers-color-scheme: dark) {
		background-color: $dark-background-color;
		color: $light-font-color;
		border-radius: $border-radius;
	}

	@media (prefers-color-scheme: light) {
		background-color: $light-background-color;
		color: $dark-font-color;
		border-radius: $border-radius;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: $dark-background-color;
		color: $light-font-color !important;

		p {
			color: $light-font-color !important;
		}

		a {
			color: $light-font-color !important;
			text-decoration: underline;
		}
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: $light-background-color;
		color: $dark-font-color !important;
	}

	p {
		color: $dark-font-color !important;
	}

	a {
		color: $light-font-color !important;
		text-decoration: underline;
	}
}