$company_blue: #121F3A;
$akzent_blue: #0e317c;

$icon_base_grey: #d1d1d1;
$icon_active_grey: #474747;

$header_hight: 4rem;
$mobile_threshold: 450px;
$max_content_width: 1000px;

$border-radius: 10px;